.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 40px;
  color: white;
}

.tasks-state-container {
  min-height: 70vh;
  max-height: 75vh;
  overflow-y: auto;
}

.droppable-zone {
  height: 400px;
}

.add-task-container {
  display: flex;
  justify-content: end;
  margin-bottom: 16px;
}

.task-item {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.task-item-inner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.task-ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
